.nav{
    text-decoration: none;
    font-size: 0.92rem;
    font-weight: 300;
    color: $gray;
    padding: 0 0.5rem;

    &:hover{
        text-decoration: underline;
    }

    &:last-child{
        padding-right: 0;
    }
}