/* Colors   */

$white: #fefefe;
$white__bg: #f2f2f2;

$red: #ed1d24;

$black: #333333;

$gray: #999999;

/*  Color Stat    */

$blue__on: #2dbbee;
$blue__sec: #57c8f1;

$orange__on: #f09f22;
$orange__sec: #f3b24e;

$green__on: #11a75a;
$green__sec: #40b87b;

/* Distances */
$headerHeight: 70px;
$sideMenuWidth: 200px;


/*  Media   */

$mobile-sm: "max-width: 565px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$tablet-lg: "max-width: 1269px";